<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.mmbay.SocialStory"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Social Story Application</name>

    <description>
        An example for phonegap build docs. 
    </description>

    <author href="https://mmbay.org" email="daniel@mmbay.org">
        Hardeep Shoker 
    </author>

</widget>
